<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserManagement</title>
    <link rel="stylesheet" href="/assets/admin/useradmin.css">
</head>
<body>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />  
    

    
   <nav class="sidebar">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="/img/admin.png" alt="logo" />
          </span>
          <div class="text header-text">
            <span class="main">ADMIN</span>
            <br>
            <span class="sub">is now active</span>
          </div>
        </div>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <ul class="menu-links">
            <li class="nav-link">
              <a href="/dash">
                <i class="bx bx-home-alt icons"></i>
                <span class="text nav-text">Dashboard</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/userAdmin">
                <i class="bx bxs-user-detail icons"></i>
                <span class="text nav-text">User Management</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/productManag">
                <i class='bx bx-cart-add icons'></i>
                <span class="text nav-text">Product Management</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/orderManage">
                <i class='bx bx-money-withdraw icons'></i>
                <span class="text nav-text">Order & Payments</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class='bx bxs-report icons'></i>
                <span class="text nav-text">Sales Report</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class='bx bxs-coupon icons'></i>
                <span class="text nav-text">coupon</span>
              </a>
            </li>
            <!-- <li class="nav-link">
              <a href="#">
                <i class='bx bxs-sticker icons'></i>
                <span class="text nav-text">Banner</span>
              </a>
            </li> -->
          </ul>
        </div>

        
      </div>
    </nav>
    <div class="main-content">
      
      <nav class="navbar">

          <div class="navbar-left">
              <img src="/img/man-looking-at-computer.jpg" alt="Admin Image" class="admin-image">
              <div class="admin-details">
                  <p class="admin-name">Mohammad Anas AN</p>
                  <p class="admin-role">Administrator</p>
              </div>
          </div>
          <div class="navbar-right">
           
              
              <img src="/img/th.jpeg" alt="Indian Flag" class="indian-flag">
          </div>
          <div class="navCenter">
            <img src="/img/furniture-logo.jpg" alt="Admin Image" class="logo-img">
            <h3>DECORE COMPANY</h3>
          </div>
      </nav>