<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/assets/user/style.css"/>
</head>
<body>
    <div class="form-container">
        <h2>Password Recovery</h2>
        <form action="/forgetPass" method="post">
        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Please Enter your valid email id here" required>
        </div> 
        <button type="Submit" class="submit-btn">Send OTP</button>   
        </form>
    
    </div>
    
</body>
</html>